<header>
    <nav class="navbar has-background-dark is-dark"
         role="navigation"
         aria-label="main navigation">
        <div class="navbar-brand">
            @*<a class="navbar-item"
               href="https://blazor.net/"
               target="_blank"
               rel="noopener noreferrer">
                <img src="/img/logo-stockcrew_black.svg"  />
            </a>*@
            <NavLink href="/Dashboard" class="navbar-item nav-home">
                <span class="brand-first">BAW Web化試作版</span>
            </NavLink>
        </div>
    </nav>
</header>