<div class="column is-2">
    <nav class="menu">
        <p class="menu-label">Menu</p>
        <ul class="menu-list">
            @*<NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active-link">
                Home
            </NavLink>*@
            <NavLink href="/Dashboard" ActiveClass="active-link">
                進捗管理表
            </NavLink>
            <NavLink href="/ItemPOBulkExecution" ActiveClass="active-link">
                入荷一覧
            </NavLink>
           @* <NavLink href="/ECOrder/ShipItemScan" ActiveClass="active-link">
                出荷検品
            </NavLink>*@
        </ul>
    </nav>
</div>